# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Enviroments
venv/
env/
.venv/

# Environment Variables
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite3
*.db

# Logs
*.log
